---
layout: template
title: Kaitaow's Blog
---
<h2>{{ page.title }}</h2>
<p>Latest Articles</p>
<!--<ul>
{% for post in site.posts %}
<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>-->
<table class="table">
<thead><th>Date</th><th>Title</th></thead>
<tbody>
{% for post in site.posts %}
<tr><td>{{ post.date | date_to_string }}</td><td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td></tr>
{% endfor %}
</tbody>
</table>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->